.sidebar-back {
    background-color: #F5EFDF;
    width: 18rem;
    position: fixed;
    font-size: 1.5rem;
    top: 5rem;
    left: 0;
}
.sidebar-back .cell {
    color: #666666;
    height: 5rem;
    padding-left: 4rem;
    border-left: 0.5rem solid rgba(0,0,0,0);
}
.sidebar-back .cell.active {
    background-color: #FCF9F2;
    color: #4492A9;
    border-left: 0.5rem solid #4492A9;
}
.sidebar-back .cell:hover {
    box-shadow:0 0 1rem 0 rgba(132,123,97,0.5);
    color: #999999;
}
.sidebar-back .cell.active:hover {
    box-shadow: none;
    color: #4492A9;
}
.sidebar-back .cell>.text {
    margin-left: 1.65rem;
}