<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>小熊幼幼后台管理系统</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>

    <link rel="stylesheet" href="/c/a/student.css">

    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
</head>
<body>
<div id="app" class="container-fluid full-height d-flex flex-column">
    <navigator nickname="二大爷"></navigator>
    <div class="d-content full-height d-flex">
        <sidebar></sidebar>
        <div class="content">
            <div class="func-area d-flex align-items-center justify-content-between">
                <div class="search d-flex align-items-center">
                    <div class="search-bar d-flex align-items-center">
                        <img src="/img/content/search.png" style="width: 1.1rem; height: 1.2rem;" alt>
                        <div class="input-outer"><input class="fs-12 c-333" @keyup.enter="search"></div>
                        <div class="fs-12 cl-333">姓名</div>
                    </div>
                </div>
                <div @click.stop="editAlert.edit=false;get_student_info(0);"
                     class="new-cell pointer fw-600 fs-15 d-flex align-items-center justify-content-center">新建
                </div>
            </div>
            <div class="table-container full-width overflow-auto">
                <table>
                    <tr><th v-for="th in ths">{{th}}</th></tr>
                    <tr v-for="row,idx in students" :class="idx%2===0?'white':'blue'">
                        <td class="number border-right">{{row.student_id}}</td>
                        <td class="avatar border-right">
                            <img :src="row.student_img" style="width: 4rem; height: 4rem; border-radius: 2rem;"
                                                             alt>
                        </td>
                        <td class="name border-right">{{row.student_name}}</td>
                        <td class="cls border-right">{{row.class_name}}</td>
                        <td class="gender border-right">{{row.student_gender==1?'男':'女'}}</td>
                        <td class="age border-right">{{row.student_months}}</td>
                        <td class="height border-right">{{row.student_stature}}</td>
                        <td class="weight border-right">{{row.student_weight}}</td>
                        <td class="teacher border-right">{{row.main_teacher_name}}</td>
                        <td class="guardian border-right">{{row.guardian_name}}</td>
                        <td class="phone border-right">{{row.guardian_phone}}</td>
                        <td class="address border-right">{{row.family_address}}</td>
                        <td class="funcBtn">
                            <div class="full-width d-flex justify-content-between">
                                <div class="pointer edit student-cell" @click.stop="get_student_info(row.student_id);"><img src="/img/cell/edit.png" style="width: 14px; height: 14px;" alt></div>
                                <div class="pointer delete student-cell" @click.stop="deleteAlert.id=row.student_id;deleteAlert.show=true;"><img src="/img/cell/delete.png" style="width: 14px; height: 14px;" alt></div>
                                <div class="pointer wechat student-cell" @click.stop="showParents(row.student_id);"><img src="/img/cell/wechat.png" style="width: 14px; height: 14px;" alt></div>
                                <div class="pointer report student-cell" @click.stop="showReports(row.student_id);"><img src="/img/cell/report.png" style="width: 14px; height: 14px;" alt></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
<!--            编辑-->
            <alert v-if="editAlert.show" :showcancel="false" text="完成" @submit="editStudent" @close="editAlert.show=false;">
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="cell d-flex justify-content-end">
                            <label class="title-input-title">姓名：</label>
                            <input type="text" v-model="editAlert.obj.student_name" class="title-input-input" placeholder="请输入学生姓名">
                        </div>

                        <div class="cell d-flex justify-content-end">
                            <label class="title-input-title">性别：</label>
                            <div class="radio-container d-flex align-items-center justify-content-around">
                                <input :value="1" type="radio" v-model="editAlert.obj.student_gender" name="gender" id="male">
                                <label for="male">男</label>
                                <input :value="2" type="radio" v-model="editAlert.obj.student_gender" name="gender" id="female">
                                <label for="female">女</label>
                            </div>
                        </div>

                        <div class="cell d-flex justify-content-end">
                            <label class="title-input-title">身高：</label>
                            <input v-model="editAlert.obj.begin_stature" class="title-input-input">
                        </div>

                        <div class="cell d-flex justify-content-end">
                            <label class="title-input-title">监护人：</label>
                            <input :value="editAlert.obj.guardian_name"
                                   placeholder="点击选择监护人"
                                   class="title-input-input"
                                   style="cursor: pointer"
                                   ref="guardianInput"
                                   @click.stop="onSelectGuardian">
                        </div>

                        <div class="cell d-flex justify-content-end">
                            <label class="title-input-title">住址：</label>
                            <textarea class="title-input-input" v-model="editAlert.obj.family_address"></textarea>
                        </div>

                    </div>
                    <div class="right">
                        <div class="cell d-flex justify-content-end">
                            <label class="title-input-title">小名：</label>
                            <input v-model="editAlert.obj.childhood_name" class="title-input-input">
                        </div>

                        <div class="cell d-flex justify-content-end"><label class="title-input-title">班级：</label>
                            <select v-model="editAlert.obj.class_id">
                                <option value="0" selected>请选择班级</option>
                                <option :value="c.class_id" v-for="c in editAlert.classes">{{c.class_name}}</option>
                            </select>
                        </div>
                        <div class="cell d-flex justify-content-end">
                            <label class="title-input-title">出生日：</label>
                            <input v-model="editAlert.obj.student_birthday" class="title-input-input">
                        </div>

                        <div class="cell d-flex justify-content-end">
                            <label class="title-input-title">体重：</label>
                            <input v-model="editAlert.obj.begin_weight" class="title-input-input">
                        </div>

                        <div class="cell d-flex justify-content-end">
                            <label class="title-input-title">照片：</label>
                            <div class="title-input-input d-flex" style="background-color: white">
                                <img id="upload-result" alt :src="editAlert.photo?editAlert.photo:editAlert.obj.student_img">
                                <div class="upload align-self-end" @click.stop="$refs['photo'].click()">上传</div>
                                <input ref="photo" @change="photo_selected" type="file" class="photo" accept="image/*" hidden></div>
                        </div>

                    </div>
                </div>
            </alert>
<!--            微信亲友-->
            <alert v-if="parentsAlert.show" :showcancel="false" @submit="parentsAlert.show=false;" @close="parentsAlert.show=false;">
                <div class="d-flex full-width ">
                    <div class="cl-333 fs-14">监护人:</div>
                    <div class="d-flex" style="margin-left: 1rem" v-for="g in parentsAlert.guardian_list">
                        <div class="d-flex flex-column align-items-center" style="margin-right: 1rem">
                            <img :src="g.member_img" style="width: 4.3rem; height: 4.3rem; background-color: #eee; border-radius: 2.15rem;" alt>
                            <div>{{g.member_name}}</div>
                        </div>
                    </div>
                </div>

                <div class="d-flex full-width" style="margin-top: 3.6rem">
                    <div class="cl-333 fs-14">　家长:</div>
                    <div class="d-flex" style="margin-left: 1rem" v-for="r in parentsAlert.relative_list">
                        <div class="d-flex flex-column align-items-center" style="margin-right: 1rem">
                            <img :src="r.member_img" style="width: 4.3rem; height: 4.3rem; background-color: #eee; border-radius: 2.15rem;" alt>
                            <div>{{r.member_name}}</div>
                        </div>
                    </div>
                </div>
            </alert>
<!--            选择监护人-->
            <alert :showcancel="false" v-if="guardianSelectAlert.show" @close="guardianSelectAlert.show=false;">
                <div>
                    <div class="d-flex ">
                        <div class="guardian-input-bg"><img src="/img/content/search.png" style="width: 1.2rem; height: 1.2rem; border-radius: 0.6rem;" alt>
                            <input class="guardian-input" ref="guardianSearchInput" placeholder="请输入监护人ID搜索" @keyup.enter="req_guardian_list">
                        </div>
                        <div class="guardian-search-btn pointer" @click.stop="req_guardian_list">搜索</div>
                    </div>
                    <div v-if="guardianSelectAlert.info.id"
                         class="d-flex pointer parent"
                         style="margin-right: 2rem;margin-top: 2rem;"
                         @click.stop="guardianSelect">
                        <div><img style="width: 3rem; height: 3rem; background-color: #eeeeee; margin-right: 0.55rem;"
                                  :src="guardianSelectAlert.info.avatar_url"></div>
                        <div>
                            <div class="name" style="font-size: 1rem; color: #333;">{{guardianSelectAlert.info.name}}</div>
                            <div class="number" style="color: #FF95AA;font-size: 0.8rem;">ID: {{guardianSelectAlert.info.id_code}}</div>
                        </div>
                    </div>
                </div>
            </alert>
<!--            删除学生-->
            <delete-alert v-if="deleteAlert.show"
                          title="你确定要删除该学生"
                          content="删除后不可找回, 请谨慎操作"
                          @submit="deleteStudent"
                          @close="deleteAlert.show=false">
            </delete-alert>
<!--            报表-->
            <info-alert v-if="reportAlert.show" @close="reportAlert.show=false">
                <div style="background-color: white; max-height: 70vh; overflow: scroll">
                    <table>
                        <tr v-for="l in reportAlert.list">
                            <td>{{l.id}}</td>
                            <td>{{l.add_time}}</td>
                            <td><a :href="l.img_url"><img class="download pointer" src="/img/student/download.png" style="width: 1.8rem; height: 1.8rem; padding: 0.6rem" alt></a></td>
                        </tr>
                    </table>
                </div>
            </info-alert>
        </div>
    </div>
</div>
</body>
<script src="/v/v-cv.js"></script>
<script type="module" src="/j/a/student.js"></script>
</html>