@import "../common/common.css";

.day-off {
    width: 21.55rem;
    height: 7.25rem;
    background: rgba(255, 229, 233, 1);
    box-shadow: 0 0 1rem 0 rgba(232, 236, 237, 0.4);
    border-radius: 1rem;
}

.day-off > .text {
    margin-left: 4.6rem;
}

th {
    background-color: #FCF9F2;
    color: #333333;
    font-size: 0.9rem;
    border-right: none !important;
}

th.left {
    background-color: #90D1E4;
    position: relative;
    z-index: 1;
}

th.border-right {
    border-right: #6CE0FF solid 1px !important;
}

td {
    background-color: white;
}

td.left {
    background-color: #90D1E4;
    border-top: none !important;
    position: relative;
    z-index: 1;
}

td.border-right {
    border-right: #6CE0FF solid 1px !important;
}

td.avatar {
    width: 10.5rem;
    color: white;
    font-size: 1.2rem;
}

td.today {
    text-align: left;
    min-width: 12rem;
}

td.today p {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}

td.process .card {
    background-color: #F2F9FF;
    border-radius: 1rem;
    margin-right: 1rem;
    border: none;
    padding: 1rem;
    text-align: left;
    font-size: 1.2rem;
    min-width: 6rem;
    min-height: 9.4rem;
    margin-bottom: 1rem;
}

td.love {
    width: 12rem;
    margin-right: 0 !important;
}